.secao-1{
    display: flex;
    justify-content: center;
    background-color: #1E415F;    
    
    div{
        width: 80%;
        
        h2{
            color: #f0f0f0;
            
        }
        
        h4{
            color: #B38C24;
        }

        p{
            color: aliceblue;
        }

        img{
           width: 60vh; 
        }
    }


    
}

