section{
    display: flex;
    justify-content: center;
    background-color: rgb(93, 103, 112);    
    
    div{
        width: 80%;
        
        h2{
            color: #1e415f;
            
        }
        
        h4{
            color: #B38C24;
        }

        p{
            color: aliceblue;
        }

        img{
           width: 60vh; 
        }
    }


    
}